name: Release

on:
  push:
    branches: [ main ]

permissions:
  contents: write
  id-token: write
  issues: write
  pull-requests: write

jobs:
  release:
    runs-on: ubuntu-latest
    if: github.actor != 'peter-evans[bot]'
    env:
      NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}
      GIT_AUTHOR_NAME: "GitHub Action"
      GIT_AUTHOR_EMAIL: "action@github.com"
      GIT_COMMITTER_NAME: "GitHub Action"
      GIT_COMMITTER_EMAIL: "action@github.com"

    steps:
    - uses: actions/checkout@v5

    - name: Setup Git
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"

    - name: Use Node.js
      uses: actions/setup-node@v5
      with:
        node-version: '20.x'
        registry-url: 'https://registry.npmjs.org'

    - name: Install dependencies
      run: npm ci

    - name: Run release-it
      run: npx release-it --ci --increment=patch
      env:
        NODE_AUTH_TOKEN: ${{ secrets.NPM_TOKEN }}